{% extends "base.html" %}

{% block content %}

<div>
    <h1>Which do you prefer?</h1>

        <div class="d-flex justify-content-center my-3 mx-3">
            <div class="row">
                <div class="col">
                    <img src="https://i.scdn.co/image/ab67616d0000b27319497200ef054bccfab27d0c", style="margin:10px">

                </div>
                <div class="col">
                    <img src="https://i.scdn.co/image/ab67616d0000b273f30764d5fa1e439ad6a7742f", style="margin:10px">

                </div>
            </div>
        </div>
</div>
{% endblock %}